main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-cards{
  margin: 3px;
}
.main-image-cards {
  padding: 5px;
  transition: 350ms; 
  color: black;
}

.main-image-cards:hover {
  filter: brightness(35%);
}

